handover_rl/checkpoints 
A2C_associate/A2C_associate/results
A2C_associate/A2C_associate/results_2
A2C_associate/A2C_associate/results_3
A2C_associate/A2C_associate/results_5
A2C_associate/A2C_associate/results_final_2
A2C_associate/A2C_associate/results_final_3
A2C_associate/A2C_associate/results_final_6

